:root {
  --primary: rgb(5, 90, 129);
  --secondary: #BFD7FD;
  --secondaryLight: #EDF3FF;
  --spacing: 8;
}

* {
  // outline: 1px solid #c00;
  margin: 0px;
}

.frame-style-button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  margin-left: 8px;
  transition: 0.2s;
  color: var(--primary);
  max-height: 32px;
  font-size: 1rem;
  &.outlined {
    border: 1.5px solid var(--primary);
    background-color: #fff;
    &:hover {
      transition: 0.2s;
      background-color: var(--secondaryLight);
    }
  }  
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #bbb; 
}
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}